@import 'partials/animation';
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(
        to bottom, 
        #087CA7 0%, 
        #087CA7 30%, 
        #1D9300 30%, 
        #1D9300 100%
    );
    #pokedex {
        box-shadow: 0 0 10px #333;
        font-family: 'Roboto Mono', monospace;
        nav {
        }
        .main {
            height: 80%;
            overflow: hidden;
            .carousel {
                height: 55%;
                overflow: visible;
                .carousel-item {
                    .card {
                        @include neonGlow;
                        .card-image {
                            img {
                            }
                        }
                        .card-content { 
                            padding-top: 0;
                            padding-bottom: 0;
                            font-size: 1em;
                            .card-title {
                                margin: 0;
                            }

                            ul{
                                padding: 0;
                            }
                        }
                        .card-reveal {
                            font-size: 1em;
                            padding: 5;
                        }
                    }
                }
            }
        }
        footer {
        }
    }
}

