body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #087CA7;
}

.pokemonCard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.4);
}

.pokemonImg, .pokemonStats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pokemonStats ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


