@import 'partials/animation';

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(
        to bottom, 
        #087CA7 0%, 
        #087CA7 30%, 
        #1D9300 30%, 
        #1D9300 100%
    );
    #pokedex {
        box-shadow: 0 0 10px #333;
        nav {}
        .main {
            display: flex;
            justify-content: center;
            .carousel {
                display: flex;
                height: 60vh;
                .carousel-item {
                    .card {
                        -webkit-animation: neonGlow 1.5s ease-in-out infinite alternate;
                        -moz-animation: neonGlow 1.5s ease-in-out infinite alternate;
                        animation: neonGlow 1.5s ease-in-out infinite alternate;
                        .card-image {
                            .pokemonImg img {
                            }
                        }
                        .card-content { 
                            .pokemonStats ul {
                                list-style-type: none;
                            }
                        }
                        .card-reveal {
                        }
                    }
                }
            }
            footer {}
        }
    }
}

