body {
    margin: 0;
    padding: 0;
    background: linear-gradient(
        to bottom, 
        #087CA7 0%, 
        #087CA7 50%, 
        #1D9300 50%, 
        #1D9300 100%
    );
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*background: linear-gradient(
        to bottom, 
        #087CA7 0%, 
        #087CA7 50%, 
        #1D9300 50%, 
        #1D9300 100%
    );*/
    background: url("../images/stripes.png");
    opacity: 0.5;
}

.pokemonCard {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pokemonImg, .pokemonStats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pokemonStats ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


